* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: black;
  background-image: url("../assets/images/sanctuary.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
body:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.87;
  z-index: -2;
}

body > * {
  z-index: 1;
}

#copied-email-popup {
  position: absolute;
  top: 35px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
  pointer-events: none;
}
#copied-email-popup.hidden {
  opacity: 0;
}
#copied-email-popup p {
  padding: 10px 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 7px;
  letter-spacing: 0.5px;
}
#copied-email-popup p span#email {
  color: #f84b15;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
header #name-and-tagline h1 {
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
header #name-and-tagline p {
  font-weight: 200;
  max-width: 200px;
  line-height: 1.3;
  font-size: 14px;
  letter-spacing: 1px;
}
header #socials {
  display: flex;
  list-style: none;
}
header #socials li a {
  margin-left: 20px;
}
header #socials li a:hover > svg {
  fill: #f84b15;
}
header #socials li a svg {
  height: 35px;
  fill: #ffffff;
  transition: fill 0.12s ease-in-out, border-color 0.2s ease-in-out;
}
header #socials li a svg#email-icon {
  padding-bottom: 3px;
  cursor: pointer;
}
header #socials li a svg#spotify-icon {
  height: 33px;
}
header #socials li a svg#apple-music-icon {
  height: 34px;
}

.toggleable {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s linear;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  position: relative;
}
main #logo-container {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #logo-container img {
  width: 100%;
  height: 100%;
}
main #music-player {
  width: 300px;
  margin-top: 50px;
}
@media (min-width: 768px) {
  main #music-player {
    width: 400px;
    margin-top: 75px;
  }
}
main #music-player span {
  color: black;
}
main #music-player .aplayer-list ol {
  max-height: 200px;
  overflow-y: auto;
}
@media (min-width: 768px) {
  main #music-player .aplayer-list ol {
    max-height: 300px;
  }
}

#equalizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
  pointer-events: none;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
