@import "partials/colors";
@import "partials/fonts";
@import "partials/breakpoints";


*
{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


html, body
{
    height: 100%;
}


body
{
    background-color: $color4;
    background-image: url("../assets/images/sanctuary.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color2;
    font-family: $font-1;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    &:after
    {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: .87;
        z-index: -2;
    }
}


body > *
{
    z-index: 1;
}


#copied-email-popup
{
    position: absolute;
    top: 35px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 10;
    pointer-events: none;

    &.hidden
    {
        opacity: 0;
    }

    p
    {
        padding: 10px 40px;
        text-align: center;
        background-color: rgba($color4, .95);
        border-radius: 7px;
        letter-spacing: 0.5px;

        span#email
        {
            color: $color5;
        }
    }
}


header
{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;

    #name-and-tagline
    {
        h1
        {
            letter-spacing: 1px;
            font-weight: $fw-5;
            font-family: $font-1;
        }

        p
        {
            font-weight: $fw-2;
            max-width: 200px;
            line-height: 1.3;
            font-size: 14px;
            letter-spacing: 1px;
        }
    }

    #socials
    {
        display: flex;
        list-style: none;

        li
        {
            a
            {
                margin-left: 20px;

                &:hover > svg
                {
                    fill: $color5;
                }

                svg
                {
                    height: 35px;
                    fill: $color2;
                    transition: fill .12s ease-in-out, border-color .2s ease-in-out;

                    &#email-icon
                    {
                        padding-bottom: 3px;
                        cursor: pointer;
                    }

                    &#spotify-icon
                    {
                        height: 33px;
                    }

                    &#apple-music-icon
                    {
                        height: 34px;
                    }
                }
            }
        }
    }
}


.toggleable
{
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s linear;
}


main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    position: relative;

    #logo-container
    {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img
        {
            width: 100%;
            height: 100%;
        }
    }

    #music-player
    {
        width: 300px;
        margin-top: 50px;

        @include md()
        {
            width: 400px;
            margin-top: 75px;
        }

        span
        {
            color: $color4;
        }

        .aplayer-list ol
        {
            max-height: 200px;
            overflow-y: auto;

            @include md()
            {
                max-height: 300px;
            }
        }
    }
}


#equalizer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 15px;
    pointer-events: none;
    z-index: -1;
}